<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Supplies</title>
</head>
<body>
<h1>Supply List</h1>
<table>
    <thead>
    <tr>
        <th>Income ID</th>
        <th>Number</th>
        <th>Date</th>
        <th>Last Change Date</th>
        <th>Supplier Article</th>
        <th>Tech Size</th>
        <th>Barcode</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Date Close</th>
        <th>Warehouse Name</th>
        <th>NM ID</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="supplyIncomes : ${supplies}">
        <td th:text="${supplyIncomes.incomeId}">Income ID</td>
        <td th:text="${supplyIncomes.number}">Number</td>
        <td th:text="${supplyIncomes.date}">Date</td>
        <td th:text="${supplyIncomes.lastChangeDate}">Last Change Date</td>
        <td th:text="${supplyIncomes.supplierArticle}">Supplier Article</td>
        <td th:text="${supplyIncomes.techSize}">Tech Size</td>
        <td th:text="${supplyIncomes.barcode}">Barcode</td>
        <td th:text="${supplyIncomes.quantity}">Quantity</td>
        <td th:text="${supplyIncomes.totalPrice}">Total Price</td>
        <td th:text="${supplyIncomes.dateClose}">Date Close</td>
        <td th:text="${supplyIncomes.warehouseName}">Warehouse Name</td>
        <td th:text="${supplyIncomes.nmId}">NM ID</td>
        <td th:text="${supplyIncomes.status}">Status</td>
    </tr>
    </tbody>
</table>
</body>
</html>